.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}



:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* optimizeLegibility equivalent */

  /* Default Theme Variables (Transparent) */
  --bg: transparent;
  --text: #f6f6f6;
  --btn-bg: rgba(255, 255, 255, 0.1);
  --btn-hover: rgba(255, 255, 255, 0.2);
}

html,
body,
#root {
  @apply h-full m-0 p-0;
}

/* Theme Control Logic */
.theme-control {
  @apply hidden;
}

#theme-light:checked~.app-wrapper {
  --bg: #f6f6f6;
  --text: #0f0f0f;
  --btn-bg: #ffffff;
  --btn-hover: #e8e8e8;
}

#theme-dark:checked~.app-wrapper {
  --bg: #2f2f2f;
  --text: #f6f6f6;
  --btn-bg: #0f0f0f98;
  --btn-hover: #0f0f0f69;
}

#theme-transparent:checked~.app-wrapper {
  --bg: transparent;
  --text: #f6f6f6;
  --btn-bg: rgba(255, 255, 255, 0.1);
  --btn-hover: rgba(255, 255, 255, 0.2);
}

.app-wrapper {
  @apply min-h-screen relative transition-colors duration-300;
  background-color: var(--bg);
  color: var(--text);
}