:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;

  /* Default Theme Variables (Transparent) */
  --bg: transparent;
  --text: #f6f6f6;
  --btn-bg: rgba(255, 255, 255, 0.1);
  --btn-hover: rgba(255, 255, 255, 0.1);
}

#theme-light:checked~.app-wrapper {
  --bg: #f6f6f6;
  --text: #0f0f0f;
  --btn-bg: #ffffff;
  --btn-hover: #e8e8e8;
}

#theme-dark:checked~.app-wrapper {
  --bg: #2f2f2f;
  --text: #f6f6f6;
  --btn-bg: #0f0f0f98;
  --btn-hover: #0f0f0f69;
}

html,
body,
#root {
  @apply h-full m-0 p-0;
}

button,
.button {
  @apply bg-transparent hover:bg-[#ffffff10];
  @apply border-1 border-solid border-transparent flex items-center justify-center;
  @apply hover:cursor-pointer color-[var(--text)] p-2;
  @apply rounded-lg transition duration-200;
  position: relative;
}

.button-hover {
  @apply bg-[#ffffff10];
}

.button-hover:before,
button:hover:before,
.button:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  background: linear-gradient(135deg, #ffffff90, transparent, #ffffff60) border-box;
  mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}

.app-wrapper {
  @apply flex flex-col h-screen overflow-hidden;
  @apply bg-[var(--bg)] text-[var(--text)];
}

.glass {
  background: #ffffff10;
  position: relative;
}

.glass:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  background: linear-gradient(110deg, #ffffff30, #ffffff10) border-box;
  mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}